$compile: (
	normalize: true,
	grid: true,
	spacing: true
) !default;

$radius: 3px;

// *******************************************************************************
// * TYPOGRAPHY
// *******************************************************************************
$font-size-default: 14px;
$font-serif: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$font-montserrat: 'Montserrat', Helvetica, sans-serif;
$font-base: 'Merriweather', $font-serif;
// $font-sans-serif: $font-montserrat, 'Open Sans', sans-serif;

//debug level 0 = disable debug,
//debug level 1 = develop, shows warning, but compiles all the templates
//debug level 2 = same as level 1, but omits compiling certain css (such as normalize for example), this speeds up development and compile time
$debug-level: 1 !default;

// *******************************************************************************
// * GRID
// *******************************************************************************
//Smallest gutter, forced default
$gutters: (
	sm: 10px,
	md: 10px,
	lg: 20px,
	xl: 20px
);
$gutter: nth(nth($gutters,1),2);
$gutters-form: (
	sm: 10px,
	md: 10px,
	lg: 10px,
	xl: 10px
);

//Default container width. Reccomendation is a percentage
$container-width: 100% !default;

$columns: 12;
$breakpoints: (
	sm: em(500px,16px),
	md: em(750px,16px),
	lg: em(1020px,16px),
	xl: em(1200px,16px)
);

$container-maxwidth: (
	lg: em(1020px)
);

// *******************************************************************************
// * SPACING
// *******************************************************************************
$spacing-multiplier: (1, 2, 3, 4);
$spacing-properties: (
	pt: padding-top,
	pb: padding-bottom,
	mt: margin-top,
	mb: margin-bottom
);

$spacing-distance: (
	sm: 20px,
	md: 20px,
	lg: 30px,
	xl: 30px
);

// *******************************************************************************
// * COLOURS
// *******************************************************************************
//after the hex, add a true to enable it in the output
//<'grey_light': #f4f2eb true>
//generates a class called bg-grey_light with a bg color
$colors: (
	'purple': #6E4985,
	'purple-focus': #FAF6FD,
	'purple-lightest': #E6D3F4,
	'purple-light': #E2DDE5,

	'black': #333,
	'white': #f2f2f2,

	'grey-medium': #e2e2e2,
	'grey-light': #CED7DF,
	'grey-light-font': #A7B5C2,

	'red': #A94442,
	'red-lightest': #FFEFF1,
	'red-error': #D0021B,

	'green': #02D04E
);