.for-future-banner {
  height: 250px;
  background-color: rgba(120, 117, 121, 0.7);
  color: white;
  text-align: center;
  position: relative;
  top: 100px;

  h3 {
    position: relative;
    top: 100px;
  }
}