button {
	border: none;
	box-shadow: none;
	padding: 0;
	line-height: 1;
}

.button,
%button,
input[type="submit"] {
	background: cl('purple');
	display: inline-block;
	border-radius: $radius;
	border: 0;
	color: cl('white');
	line-height: 1;
	padding: em(15px);
	transition: background 0.2s;
	font-family: $font-montserrat;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;

	em {
		font-style: normal;
		font-weight: 800;
	}

	&:hover {
		color: cl('white');
		background: darken(cl('purple'), 20%);;
	}
}

input[type="submit"] { float: right; }