fieldset {
	border: 0;
	padding: em(10px);
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: cl('purple');
	color: cl('white');
}

.gllpLatlonPicker {
	%border-base {
		border: solid 1px cl('grey-light');
		border-radius: $radius;
		height: em(44px, $font-size-default);
		line-height: em(44px, $font-size-default);
		margin: 0;
		box-sizing: border-box;
	}

	%focusing {
		outline: none;
		border-color: cl('purple');
		background-color: cl('purple-focus');
		color: darken(cl('purple'), 20%);
	}

	@mixin focusing($type:'input') {
		transition: border 0.2s;
		@if ($type != 'input') {
			&.focusing { @extend %focusing; }
		} @else {
			&:focus {
				@extend %focusing;
			}
		}
	}

	input:not([type=submit]):not([type=file]),
	textarea,
	%input-base-styling {
		@extend %border-base;
		width: em(150px);
		padding: {
			left: $gutter;
			right: $gutter;
		}
		background: transparent;
		transition: border 0.2s;
		@include focusing;
	}
}

.locationform {
	padding: em(10px) 0 em(20px);
}

// ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//     color: cl('grey-light-font');
// }
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//    color: cl('grey-light-font');
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//   	color: cl('grey-light-font');
// }
// :-ms-input-placeholder { /* Internet Explorer 10-11 */
// 	color: cl('grey-light-font');
// }

// .title,
// %title,
// label,
// %label {
// 	font-weight: 600;
// 	display: block;
// }

// select { outline: none; }

// label,
// %label {
// 	color: cl('white');
// 	@include bp('lg+') {
// 		//text-align: right;
// 		line-height: em(46px, $font-size-default);
// 	}

// 	&.error {
// 		line-height: 1;
// 		color: cl('red-error');
// 		padding-top: em(10px);
// 	}
// }

// %border-base {
// 	border: solid 1px cl('grey-light');
// 	border-radius: $radius;
// 	height: em(46px, $font-size-default);
// 	line-height: em(46px, $font-size-default);
// 	margin: 0;
// 	box-sizing: border-box;
// }

// %focusing {
// 	outline: none;
// 	border-color: cl('purple');
// 	background-color: cl('purple-focus');
// }

// @mixin focusing($type:'input') {
// 	transition: border 0.2s;
// 	@if ($type != 'input') {
// 		&.focusing { @extend %focusing; }
// 	} @else {
// 		&:focus {
// 			@extend %focusing;
// 		}
// 	}
// }

// input:not([type=submit]):not([type=file]),
// textarea,
// %input-base-styling {
// 	@extend %border-base;
// 	width: 100%;
// 	padding: {
// 		left: $gutter;
// 		right: $gutter;
// 	}
// 	background: transparent;
// 	transition: border 0.2s;
// 	@include focusing;

// 	&:disabled {
// 		background: cl('purple-lightest');
// 		color: cl('purple-light');
// 	}

// 	&.error {
// 		background: cl('red-lightest');
// 		color: cl('red-error');
// 		border-color: cl('red-error');
// 	}
// }

// textarea {
// 	resize: none;
// 	min-height: em(100px);
// 	vertical-align: top;
// }
