%clearfloat {
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

%clearlist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainheader {
	background-color: cl('purple');
	@extend %clearfloat;
	h1, a { color: cl('white'); }


	&__nav {
		display: inline-block;
		float: right;
		ul {
			@extend %clearlist;
		}
		li {
			margin: 0 em(10px);
			float: left;
		}
	}
}