%clearfloat {
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

%clearlist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainheader {
	background-color: cl('purple');
	@extend %clearfloat;

	.container {
		line-height: em(30px);
	}

	h1 { color: cl('white'); }
	a {
		color: lighten(cl('purple'), 30%);
		&:hover,
		&.active { color: cl('white'); }
	}
	h1 {
		float: left; margin: 0;
	}

	&__nav {
		display: inline-block;
		float: right;
		vertical-align: middle;
		ul {
			@extend %clearlist;
		}
		li {
			margin: 0 em(10px);
			float: left;
		}
	}
}