body,
html {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-image: url('bg2.jpeg');
	background-size: cover;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		//background-color: rgba(110, 73, 133, 0.7);
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}

.content {
	@extend %clearfloat;
	//background-color: cl('white');
	padding-top: em(20px);
	padding-bottom: em(20px);
	@include bp('lg+') {
		max-width: em(700px);
		margin: 0 auto;
		padding-top: em(40px);
		padding-bottom: em(40px);
		padding-left: em(40px);
		padding-right: em(40px);
	}
	h1 { color: cl('white'); }
}

.danger {
	background-color: cl('red-lightest');
	color: cl('red');
	padding: em(10px) em(20px);
}

.gllpMap, #map	{
	width:100%; height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.locationform {
	width: 330px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
	padding: 20px;
	background-color: lighten(cl('purple'), 15%);
	box-sizing: border-box;
}

.gllpSearchField {
	width: 100% !important;
}

.location-start,
.location-end {
	transition: all 0.2s;
}

.location-end { opacity: 0; display: none; }
.gllpSearchButtonFrom,
.gllpSearchButtonTo {
	margin-top: 10px;
}
.show {
	visibility: visible;
	opacity: 1;
	display: block;
}

.hide {
	visibility: hidden;
	opacity: 0;
	display: none !important;
}

.refresh {
	text-align: center;
	width: 150px !important;
	color: cl('white');
	display: block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: #333 !important;
	i { margin-right: 5px;}
	&:hover {
		background-color: #000 !important;
	}
}

.confirmlocation {
	i { margin-right: 5px;}
	background-color: darken(cl('green'), 20%) !important;
	&:hover {
		background-color: darken(cl('green'), 10%) !important;
	}
}

.ubercall {
	background-color: #F26C00 !important;
}

.xtart, .xend {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: cl('white');
}