body {
	font-family: $font-sans-serif;
	font-size: em($font-size-default, 16px);
	line-height: 1.75em;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	line-height: 1.3em;
	margin: 0 0 .5em;
	font-weight: 300;
}

.h1, h1 {
	font-size: em(32px);
	@include bp("sm+") { font-size: em(42px); }
}
.h2, h2 {
	font-size: em(22px);
	@include bp("sm+") { font-size: em(32px); }
}
.h3, h3 {
	font-size: em(18px);
	@include bp("sm+") { font-size: em(24px); }
}
.h4, h4 {
	font-size: em(16px);
	@include bp("sm+") { font-size: em(20px); }
}

ul {
	padding-left: 1em;
	margin: 0;
	li { margin-bottom: 0.8em; }
}

a {
	color: cl("blue");
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: darken(cl("purple"), 10%);
	}
}

strong {
	font-weight: 600;
}
