<header class="mainheader">
  <div class="container sm-pt-1 sm-pb-1">
    <h1 class="h3">Instant Assistant</h1>
    <nav class="mainheader__nav">
      <ul>
        <li><a href="" class="active">Create a task</a></li>
        <%= link_to "Give me a task", tasks_path %>
      </ul>
    </nav>
  </div>
</header>

<main class="container sm-pt-1 sm-pb-1 md-pt-2 md-pb-2">
  <ul class="tasks">
    <% @tasks.each do |t| %>
    <li class="task">
      <h2><%= t.title %> in 10 minutes</h2>
      <p><%= t.description %></p>
      <div class="actions">
        <p class="est">You'll earn:&euro; 50</p>
        <a href="" class="button button--small">Pick this task</a>
      </div>
    </li>
    <% end %>

    <li class="task taken">
      <h2>Dummy text title in x hour</h2>
      <p>This is just a dummy description</p>

      <div class="actions">
<!--         <p>
          Task is taken by Ivana
          <br>
          <time>25 May 2016 at 13:30</time>
        </p> -->
        <div class="checkblock">
          Task is taken by Ivana<br>
          <time>25 May 2016 at 13:30</time>
        </div>
      </div>
    </li>

    <li class="task expired">
      <h2>Dummy text title in x hour</h2>
      <p>This is just a dummy description</p>
      <div class="actions">
        <p class="est">You could've earned:&euro; 50</p>
        <a href="" class="button button--small">Expired</a>
      </div>
    </li>
  </ul>
</main>

