<header class="mainheader">
	<div class="container">
		<h1>Instant Assistant</h1>
		<nav>
			<ul>
				<li><a href="">Menu 1</a></li>
				<li><a href="">Menu 2</a></li>
			</ul>
		</nav>
	</div>
</header>
<main>

</main>
<footer>

</footer>

